.share {
  position: absolute;
  margin-left: 20vw;
  margin-top: 1rem;
  width: 60vw;
  bottom: 10vh;
}

.share a {
  margin: 1rem 0;
  color: #fff;
  background: linear-gradient(to Right, #3a56a0, #5b86fd);
  z-index: 999;
}

.back {
  width: 2rem;
  height: 2rem;
}

.invite {
  background-image: url("../../assets/invite_bg.jpg");
  width: 100vw;
  height: calc(100vh - 45px);
  background-size: 100% 100%;
}
