.home {
  height: 100%;
  text-align: center;
  font-weight: bold;
  padding: 0 15px 15vh 15px;
  overflow-y: scroll;
}

.home > img {
  width: calc(100vw - 30px);
  margin-top: 15px;
}

.home .process .invited_avatar {
  position: relative;
  width: 22vw;
  height: 17vw;
}

.home .process img {
  width: 15vw;
  height: 15vw;
  border: 3px solid #ddd;
}
.home .process img.user_invited {
  position: absolute;
}
.home .process img.user_invited:nth-child(0) {
  left: 0;
}
.home .process img.user_invited:nth-child(1) {
  left: 5px;
}
.home .process img.user_invited:nth-child(2) {
  left: 10px;
}
.home .process img.user_invited:nth-child(3) {
  left: 15px;
}
.home .process img.user_invited:nth-child(4) {
  left: 20px;
}
.home .process img.user_invited:nth-child(5) {
  left: 25px;
}

.home .process img.user_invited:nth-child(6) {
  left: 30px;
}

.home .user_game,
.home .user {
  background-size: 100% 100%;
  padding: 15px;
  border-radius: 10px;
  color: #fff;
}

.home .user_game {
  color: #3d5aa9;
  background-image: url("../../assets/hot_game_bg.jpg");
}

.home .user {
  color: #3d5aa9;
  background-image: url("../../assets/fb_name_bg.jpg");
}

.home .user img {
  width: 10vw;
}

.avatar {
  width: 15vw;
  background-color: #ddd;
  border-radius: 50%;
  color: #fff;
}

.play_button {
  padding: 0 5px;
  width: 25vw;
  color: #fff;
  background-image: linear-gradient(to right, #3b57a2, #5a85fa);
}

.cash_out_button {
  padding: 0 5px;
  font-weight: bold;
  width: 25vw;
  color: #fff;
  background-image: linear-gradient(to right, #faa659, #f3e656, #faa659);
  text-shadow: 1px 1px 0 #2f2f2f;
}

.am-button.am-button-disabled {
  color: #fff;
}

.hot_game_banner_container {
  background-color: #bfbfbf;
  padding: 3px;
}
.assets_value {
  display: flex;
  align-items: center;
}

.home .play_video_btn {
  width: 5rem;
  position: fixed;
  top: 3rem;
  right: 0;
  z-index: 999;
}

.home .redeem_video {
  display: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: #000000a1;
  z-index: 999;
}

.home .redeem_video video {
  position: absolute;
  width: 70vw;
  left: 0;
  right: 0;
  top: 12vh;
  margin: auto;
  z-index: 999;
}

.home .redeem_video .close_icon {
  position: absolute;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  color: #fff;
  padding: 3px;
  top: 8vh;
  right: 14vw;
}

.random_banner {
  display: flex;
  background-color: #fff;
  padding: 0 0.5rem;
  align-items: center;
}

.random_banner img {
  width: 4rem;
}
.random_banner p {
  padding-left: 0.5rem;
  font-size: 1.2rem;
  text-align: left;
  flex-grow: 1;
  color: #2f2f2f;
}
.random_banner a {
  background-color: #e32e21;
}
.random_banner a.am-button-active {
  background-color: #e32e21;
}
.random_banner a.am-button-primary::before {
  border-color: #e32e21;
}
.envelop_container {
  width: 90vw;
  height: 40vh;
}
.envelop_container .am-modal-content {
  background-color: transparent;
}

.envelop_container .envelop {
  width: 100%;
  height: 100%;
  background-image: url("../../assets/paypalEnvelop.png");
  background-size: 100% 100%;
}
q
.envelop_container .open_envelop {
  position: absolute !important;
  width: 30vw;
  border-radius: 15px;
  bottom: 30%;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #f7c860;
  color: #fffefa;
  font-weight: bold;
}

.envelop_container .open_envelop.am-button-active {
  background-color: #f7c860;
}

.envelop_container .paypal {
  width: 100%;
  height: 100%;
  background-image: url("../../assets/envelop_value.png");
  background-size: 100% 100%;
}

.envelop_container .paypal_value {
  position: absolute !important;
  width: 30vw;
  bottom: 35%;
  left: 0;
  right: 0;
  margin: auto;
  color: #fffefa;
  font-weight: bold;
  font-size: 2rem;
}

.envelop_container .envelop_cashout {
  position: absolute !important;
  width: 30vw;
  border-radius: 15px;
  bottom: 5%;
  left: 0;
  right: 0;
  margin: auto;
  color: #fffefa;
  font-weight: bold;
}

.envelop_container .envelop_cashout.am-button-active {
  background-color: #f7c860;
}
